Reddit_AI_News_Reporter_Worklfow (1).json
{
  "name": "Reddit AI News Reporter Worklfow",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.minimaxi.chat/v1/query/video_generation",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $json.task_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiVXNlck5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4ODU4ODAwODAxODIyODQ0NDMiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODg1ODgwMDgwMTc4MDkwMTM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoic2FuamVldmNzMDAzNEBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0wMi0xMyAwMzo1MjozNyIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.pEUMNV5dMm6M7Dt02POBMXywaUbOF6oD-RrDejhEwcCC65Umhp8k2deJZlkh4Z1n024O10AF9DMWnUJesEP_6ZP1rRGzQUPQQlUZu61v83oEfGi-8IG5U8vzdJjhpLMluDaiwVS8J08hbYdnnAEtQZWKnmwdUwCx3xiTpGA8W22IW7mpYfSpDDhint3dlawHznRj4Xmfnc6qFG_cd7CmPolnjnH4MXJrH0acd1yT6sVmW1VYp3P9w7PMnSrBVdVPz3XQpPP_wpLqv3J1I8eY5nKnQnC2C4-OasA6v6WnlbPghMKV1uvMJqp2lokdLulWCFSM8Vy07r9bswxyyIPqbg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5f581185-729c-4b7b-ad81-112fe4784c8f",
      "name": "Query Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2340,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/video_generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiVXNlck5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4ODU4ODAwODAxODIyODQ0NDMiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODg1ODgwMDgwMTc4MDkwMTM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoic2FuamVldmNzMDAzNEBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0wMi0xMyAwMzo1MjozNyIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.pEUMNV5dMm6M7Dt02POBMXywaUbOF6oD-RrDejhEwcCC65Umhp8k2deJZlkh4Z1n024O10AF9DMWnUJesEP_6ZP1rRGzQUPQQlUZu61v83oEfGi-8IG5U8vzdJjhpLMluDaiwVS8J08hbYdnnAEtQZWKnmwdUwCx3xiTpGA8W22IW7mpYfSpDDhint3dlawHznRj4Xmfnc6qFG_cd7CmPolnjnH4MXJrH0acd1yT6sVmW1VYp3P9w7PMnSrBVdVPz3XQpPP_wpLqv3J1I8eY5nKnQnC2C4-OasA6v6WnlbPghMKV1uvMJqp2lokdLulWCFSM8Vy07r9bswxyyIPqbg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "video-01"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output['AI Video Generator Prompt'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00c97c4c-f77f-4434-a7af-ee8bc37c2b52",
      "name": "Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2540,
        420
      ]
    },
    {
      "parameters": {
        "url": "https://api.minimaxi.chat/v1/files/retrieve",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiVXNlck5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4ODU4ODAwODAxODIyODQ0NDMiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODg1ODgwMDgwMTc4MDkwMTM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoic2FuamVldmNzMDAzNEBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0wMi0xMyAwMzo1MjozNyIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.pEUMNV5dMm6M7Dt02POBMXywaUbOF6oD-RrDejhEwcCC65Umhp8k2deJZlkh4Z1n024O10AF9DMWnUJesEP_6ZP1rRGzQUPQQlUZu61v83oEfGi-8IG5U8vzdJjhpLMluDaiwVS8J08hbYdnnAEtQZWKnmwdUwCx3xiTpGA8W22IW7mpYfSpDDhint3dlawHznRj4Xmfnc6qFG_cd7CmPolnjnH4MXJrH0acd1yT6sVmW1VYp3P9w7PMnSrBVdVPz3XQpPP_wpLqv3J1I8eY5nKnQnC2C4-OasA6v6WnlbPghMKV1uvMJqp2lokdLulWCFSM8Vy07r9bswxyyIPqbg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5e2be668-a611-4c69-9f9f-0717f63f447c",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2140,
        420
      ],
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "={{ $json.file.download_url }}",
        "options": {}
      },
      "id": "300802ff-6684-4b69-8d2e-95991ff15685",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1920,
        420
      ]
    },
    {
      "parameters": {
        "formTitle": "AI Model Video Generation tool",
        "formDescription": "Enter the model and her environment description and what do you want her to say. enter submit and this tool will create a video of your model in your specified environment saying what you want her to say.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Model age",
              "placeholder": "you can enter number like 21 or just type young"
            },
            {
              "fieldLabel": "Model ethnicity"
            },
            {
              "fieldLabel": "Model's color"
            },
            {
              "fieldLabel": "Model's Clothes"
            },
            {
              "fieldLabel": "Describe Models environment",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Topic of the video"
            },
            {
              "fieldLabel": "Whatsapp Number",
              "placeholder": "Enter the number with country code without + sign"
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your response has been recorded, You will shortly receive a link of the processed video."
            }
          }
        }
      },
      "id": "1fac34ec-3105-4371-a60d-2eba170e9f70",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -3500,
        420
      ],
      "webhookId": "a8e87c5a-3369-48f9-9e65-a7e33b91306a"
    },
    {
      "parameters": {
        "modelName": "models/gemini-exp-1206",
        "options": {}
      },
      "id": "7ebf69f3-a8d6-408f-8583-5ed56f0c9155",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2880,
        580
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "XjG3bw6jUlVwhBM7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mango.sievedata.com/v2/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "CVP4S92dTwwOGiCCNTkgZhA36O2ItI9oHw5K7xDk8vE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"function\": \"sieve/lipsync\",\n  \"inputs\": {\n    \"file\": {\n      \"url\": \"{{ $('Google Drive1').item.json.webContentLink }}\",\n    \"audio\": {\n      \"url\": \"{{ $json.webContentLink }}\"\n    },\n    \"enhance\": \"default\",\n    \"backend\": \"sievesync\",\n    \"downsample\": false,\n    \"cut_by\": \"audio\"\n  }\n}",
        "options": {}
      },
      "id": "9035183e-ace6-4aa8-be64-8e29092cf5bd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        420
      ]
    },
    {
      "parameters": {
        "url": "=https://mango.sievedata.com/v2/jobs/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "CVP4S92dTwwOGiCCNTkgZhA36O2ItI9oHw5K7xDk8vE"
            }
          ]
        },
        "options": {}
      },
      "id": "65c14d92-3165-40c9-b5d6-371e78dd8bef",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1180,
        700
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.inputs.audio.data.url }}",
        "options": {}
      },
      "id": "ce372f3d-5322-43b1-91db-3660d869523a",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        700
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "AI Video Generator Prompt",
              "description": "AI Video Generator Prompt  detailed structure",
              "required": true
            },
            {
              "name": "AI Audio Generator Prompt",
              "description": "AI Audio Generator Prompt",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "f9a75105-c4c2-4e41-b61e-7be8f28dc408",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -2900,
        420
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "attributes": {
          "attributes": [
            {
              "name": "Speech",
              "description": "Only speech part"
            }
          ]
        },
        "options": {}
      },
      "id": "071d547a-8bdc-455c-b1c5-2f174354e75e",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -940,
        180
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp-02-05",
        "options": {}
      },
      "id": "e0e4521b-8688-4f45-8916-cde25250a136",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -940,
        400
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "XjG3bw6jUlVwhBM7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{$now + $('OpenAI2').item.json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1MxwiLxFd3g_6f-rQInHFTf83EslU9SWo",
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MxwiLxFd3g_6f-rQInHFTf83EslU9SWo"
        },
        "options": {}
      },
      "id": "d43100bf-329f-42ab-a102-b2a81b312543",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -220,
        420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Video Generation Workflow\n",
        "height": 269,
        "width": 1024
      },
      "id": "8e25166e-6430-4d5d-b0f7-fba064d7b02f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        340
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Please help with following tasks:-\n1. Give prompt for an AI video generator agent to generate a video which will contain a woman with following details:-\nage: {{ $json['Model age'] }}, Ethnicity : {{ $json['Model ethnicity'] }}, skin color: {{ $json['Model\\'s color'] }}, Clothes : {{ $json['Model\\'s Clothes'] }}, model bakcground: {{ $json['Describe Models environment'] }} .\n\n2. Give Prompt for an AI audio generator(TTS) to only and only get the text for speech on the topic and nothing else on the topic of {{ $json['Topic of the video'] }}. consider above model as speaker keep it under 30 seconds.\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "96d0ab8a-2b45-44a4-a112-fdb7a10da6d3",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -3280,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Pe79A99ND4eSHad",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Information Extractor').item.json.output['AI Audio Generator Prompt'] }} Make sure the whole speech is in hinglish. aur font hindi hona chaiye."
            }
          ]
        },
        "options": {}
      },
      "id": "7d68d6ee-c5df-4e49-b0e1-3535d589ecb1",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -1480,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Pe79A99ND4eSHad",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output.Speech }}",
        "voice": "nova",
        "options": {}
      },
      "id": "9452c891-5393-4e71-ac0f-f713e64a7d51",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -460,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "0Pe79A99ND4eSHad",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ew7tfYlV7VIxJJwZttLN4cCfZnv-bl4y",
          "mode": "list",
          "cachedResultName": "news_agency_logo_and_news_scroll-removebg-preview.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1ew7tfYlV7VIxJJwZttLN4cCfZnv-bl4y/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "e90d894d-33e8-42a2-9e54-36017e3c6cdd",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        700
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "44829b19-031d-44a3-a571-4f7af3199f08",
      "name": "Google Drive6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -780,
        700
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "ffmpeg -version"
      },
      "id": "215f3025-3bf5-4355-bf73-42d9f3827903",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        20,
        700
      ]
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "id": "8f198aea-7541-416a-9bfc-fac3442d340a",
      "name": "Store Files",
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -180,
        700
      ]
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "id": "d5c9b032-5568-4a28-8c75-e2b10a48e890",
      "name": "Store Files2",
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -580,
        700
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.file.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1MxwiLxFd3g_6f-rQInHFTf83EslU9SWo",
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MxwiLxFd3g_6f-rQInHFTf83EslU9SWo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1740,
        420
      ],
      "id": "b686bae9-b022-4712-bf75-1dc89a3e44bc",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2840,
        1060
      ],
      "id": "8d620ace-b924-4527-90e4-15160c7b5304",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2600,
        1060
      ],
      "id": "8762ec3f-8722-4ec7-a316-38f1fe4e5945",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the news :-\nTitle: {{ $json.title }},\nDescription: {{ $json.description }}\nContent: {{ $json.content }}\n\ngenerate and give video and music file link.",
        "options": {
          "systemMessage": "You are going to get tittle, description and content of a news article, generate news video and background music."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -2320,
        1080
      ],
      "id": "681f3c35-fce2-4800-bf5e-66773bcd4785",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2420,
        1360
      ],
      "id": "7f44c597-5a7f-4138-aa9e-e46c7259df75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0Pe79A99ND4eSHad",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "Generate_News_Video",
        "description": "Call this tool to generate news video with news anchor giving the news with audio.(no music) ",
        "workflowId": {
          "__rl": true,
          "value": "trIZ7u7A2LKQgF4D",
          "mode": "list",
          "cachedResultName": "AI_Video_with_model_and_environment_and_speech__no__bg_music"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `Title of the news`, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Description of the news`, 'string') }}",
            "Content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', `Brief content of the news`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -2180,
        1340
      ],
      "id": "ca90168a-d12e-4635-95ca-00c3b9068de7",
      "name": "AI News Video Generator Tool"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1pRwxwhjKHQwZBqTNI5d5o7hBIkXkg58b/view?usp=drivesdk",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1020,
        1080
      ],
      "id": "4803e3f8-c4ad-43a2-b564-85bf82526149",
      "name": "Intro Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1P6oIsSN-tbBBaeOmtemBTyXM4NJQ0yAE/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -600,
        1080
      ],
      "id": "05617fbb-f7a1-48cb-8940-ebe5c36be022",
      "name": "Channel Branding overlay",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1-gESNXBkbBhtAalpgPuf0Wf22apZ1mSX/view?usp=drivesdk",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1680,
        1360
      ],
      "id": "f6114182-1dba-4243-96d6-599a466660ba",
      "name": "Outro Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1740,
        1080
      ],
      "id": "999b923e-e3b0-45ff-8639-cec3012932a1",
      "name": "AI Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/18Il3JTfqWBo-yk-UMkAk84gDFqD0A4JN/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1380,
        1080
      ],
      "id": "5def47ab-5ef6-4bf0-abde-8d82fdc3306f",
      "name": "AI BG Music",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-auto-file-storer.autoFileStorerExplorer",
      "typeVersion": 1,
      "position": [
        -1260,
        1360
      ],
      "id": "528afc55-a2e7-4194-acd8-f9a4eff19f2f",
      "name": "Explore Stored Files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3260,
        1060
      ],
      "id": "c5acfb3b-c2b4-494a-aeb2-b077c86e9a56",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/n8n_storage/uploaded_files/final_news_video.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -820,
        1600
      ],
      "id": "cd59b43a-d34a-40cf-a7a4-a8f113de7ca3",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "=ffmpeg -y \\\n-i /home/node/n8n_storage/uploaded_files/Modelvideo.mp4 \\\n-i /home/node/n8n_storage/uploaded_files/channelbrandingoverlay.png \\\n-filter_complex \"overlay=10:10\" \\\n-codec:a copy \\\n/home/node/n8n_storage/uploaded_files/news_video.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1720,
        1600
      ],
      "id": "73abe3d5-23e5-4a5c-ad04-5c6212139069",
      "name": "Step1"
    },
    {
      "parameters": {
        "command": "ffmpeg -y \\\n-i /home/node/n8n_storage/uploaded_files/news_video.mp4 \\\n-i /home/node/n8n_storage/uploaded_files/gochapachi\\ outro.mp4 \\\n-f lavfi -i anullsrc=channel_layout=mono:sample_rate=44100 \\\n-filter_complex \"[0:v]setpts=PTS-STARTPTS[v0]; \\\n[0:a]asetpts=PTS-STARTPTS[a0]; \\\n[1:v]setpts=PTS-STARTPTS[v1]; \\\n[2:a]atrim=duration=11.20,asetpts=PTS-STARTPTS[a1]; \\\n[v0][a0][v1][a1]concat=n=2:v=1:a=1 [v][a]\" \\\n-map \"[v]\" -map \"[a]\" \\\n-c:v libx264 -crf 23 \\\n/home/node/n8n_storage/uploaded_files/news_video_without_outro_music.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1480,
        1600
      ],
      "id": "97abcab5-d589-4fc1-a603-9dce84198bc2",
      "name": "Step 2"
    },
    {
      "parameters": {
        "command": "ffmpeg -y \\\n-i /home/node/n8n_storage/uploaded_files/news_video_without_outro_music.mp4 \\\n-i /home/node/n8n_storage/uploaded_files/audio.mp3 \\\n-filter_complex \"[1:a]volume=0.08[a1]; [0:a][a1]amix=inputs=2:duration=first:dropout_transition=2[a]\" \\\n-map 0:v -map \"[a]\" \\\n-c:v copy -c:a aac \\\n/home/node/n8n_storage/uploaded_files/news_video_with_outro_music.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1240,
        1600
      ],
      "id": "fd7102a2-144b-42e8-b0f6-0582ae1856ae",
      "name": "Step 3"
    },
    {
      "parameters": {
        "command": "ffmpeg -y \\\n-i \"/home/node/n8n_storage/uploaded_files/gochapachi Channel intro.mp4\" \\\n-i \"/home/node/n8n_storage/uploaded_files/news_video_with_outro_music.mp4\" \\\n-filter_complex \"[0:v]setpts=PTS-STARTPTS[v0]; [0:a]asetpts=PTS-STARTPTS[a0]; [1:v]setpts=PTS-STARTPTS[v1]; [1:a]asetpts=PTS-STARTPTS[a1]; [v0][a0][v1][a1]concat=n=2:v=1:a=1[v][a]\" \\\n-map \"[v]\" -map \"[a]\" \\\n\"/home/node/n8n_storage/uploaded_files/final_news_video.mp4\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1040,
        1600
      ],
      "id": "3f1f9457-65c0-4c50-b05f-dd3fe23191be",
      "name": "Step 4"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI Agents"
            },
            {
              "name": "apiKey",
              "value": "1a3397fb3c374addb3bab8d749db586c"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3060,
        1060
      ],
      "id": "cebbf5a1-a3e9-4c6a-9f6d-2acbcb3f08db",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -1540,
        1080
      ],
      "id": "ebe848d3-a09f-47a5-96dc-a2c4a25d6431",
      "name": "Store Files5"
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -840,
        1080
      ],
      "id": "cadfa75f-3899-4a78-b1c9-a65ef7954581",
      "name": "Store Files6"
    },
    {
      "parameters": {
        "name": "=final_news_video{{$today}}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ZAyzc4YBAsjoaQ4RnKdaosWW3xEHwMPR",
          "mode": "list",
          "cachedResultName": "Final News Video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZAyzc4YBAsjoaQ4RnKdaosWW3xEHwMPR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -580,
        1600
      ],
      "id": "4620b7f5-12f9-4d7a-afcc-9df39aded5bc",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "modelvideo.mp4",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1jEd_8hIoR-GlSoqHBrq6AWCD7bOGJUNm",
            "mode": "list",
            "cachedResultName": "New News Video",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1jEd_8hIoR-GlSoqHBrq6AWCD7bOGJUNm"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1940,
        1080
      ],
      "id": "15b2224d-dbb0-4c16-b29e-a86b4c58b5e6",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -1200,
        1080
      ],
      "id": "39410121-770b-44d7-bb8f-8ef9180e0bf0",
      "name": "Store Files7"
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -340,
        1080
      ],
      "id": "629a0c89-4381-4310-8eb3-8c00e49dd698",
      "name": "Store Files8"
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -1460,
        1360
      ],
      "id": "9a0997df-0054-4e64-981f-7906f0067e33",
      "name": "Store Files9"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Music theme"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2520,
        2040
      ],
      "id": "fc8d5c87-b2e9-4f0a-a509-78dab0f35fd5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// First, parse the JSON string stored in $json.data\nlet hex;\ntry {\n  const parsed = JSON.parse($json.data); // now parsed is an object\n  // Now extract the hex string from the nested structure:\n  hex = parsed.data.audio; \n} catch (e) {\n  // If parsing fails, fallback to using $json.data directly (if it were already the hex string)\n  hex = $json.data;\n}\n\nif (!hex) {\n  throw new Error(\"Hex string is not defined\");\n}\n\n// Remove any whitespace from the hex string\nconst cleanedHex = hex.replace(/\\s+/g, '');\nconsole.log(\"Cleaned hex string length:\", cleanedHex.length);\n\n// Convert the hex string to a Buffer\nconst buffer = Buffer.from(cleanedHex, 'hex');\nconsole.log(\"Buffer length (bytes):\", buffer.length);\n\n// Convert the Buffer to a base64-encoded string\nconst base64Data = buffer.toString('base64');\nconsole.log(\"Base64 data length:\", base64Data.length);\n\n// Attach the binary data to the item under a binary property named \"data\"\nitem.binary = {\n  data: {\n    data: base64Data,\n    mimeType: 'audio/mpeg',    // MIME type for MP3 files\n    fileName: 'output.mp3'     // Desired file name\n  }\n};\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1420,
        2040
      ],
      "id": "3869937e-bcfe-4548-91c6-e1a64bf77c9c",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c2a2db4-fa0c-47b7-ad51-95ab8c578bfb",
              "name": "Music Link",
              "value": "={{ $('Google Drive7').item.json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        2040
      ],
      "id": "79617420-ce31-4228-bf67-64e6ae22d776",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1zSWbROjbkq0TASHlKj86KFrVyWIj8RJ3",
          "mode": "list",
          "cachedResultName": "audio.mp3",
          "cachedResultUrl": "https://drive.google.com/file/d/1zSWbROjbkq0TASHlKj86KFrVyWIj8RJ3/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2300,
        2040
      ],
      "id": "192bf2a7-68ee-4201-a2f2-9596ab848082",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "hashFilenames": false
      },
      "type": "n8n-nodes-auto-file-storer.autoFileStorer",
      "typeVersion": 1,
      "position": [
        -2080,
        2040
      ],
      "id": "75718bdb-d0dc-41b3-86a7-bfac7eaf018c",
      "name": "Store Files1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/music_upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiVXNlck5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4ODU4ODAwODAxODIyODQ0NDMiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODg1ODgwMDgwMTc4MDkwMTM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoic2FuamVldmNzMDAzNEBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0wMi0yMSAxNTowNzo1NSIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.rSxVDCOIApOAuJ1urXj1337it3Ptm6W8H7BwhVy37YPo-xsy7XFv7fhMFLg5Kjlcrt-jV3UxPrEo6awn4uXLoNAHkUB_6FfecreXG5ur5wfowelf1atHORREzWj-qkHH1UddA0VmIYQTgHXLl0JvHTIMFyoFwP7yL5abeuxJW2nT5BVql3x_T593G8s9U8icgnFPKxPkJN9a3ZE0itHJI-I6shYWYpXaLjwduF78j6jAwp_soH1cMYam0LbAN2pgjIBWD2xxzFS8_vjYLBLc50_XF2jsa5CG4hDS0lFI-HPwXanohsXIsmRDfc_NvSMwFS8u7p5COt3EEsVHblMtmA"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "instrumental"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1860,
        2040
      ],
      "id": "c529e6d4-038e-48f1-9e89-ad30c952c88b",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/music_generation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiVXNlck5hbWUiOiJTYW5qZWV2IFNpbmdoIiwiQWNjb3VudCI6IiIsIlN1YmplY3RJRCI6IjE4ODU4ODAwODAxODIyODQ0NDMiLCJQaG9uZSI6IiIsIkdyb3VwSUQiOiIxODg1ODgwMDgwMTc4MDkwMTM5IiwiUGFnZU5hbWUiOiIiLCJNYWlsIjoic2FuamVldmNzMDAzNEBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0wMi0yMSAxNTowNzo1NSIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.rSxVDCOIApOAuJ1urXj1337it3Ptm6W8H7BwhVy37YPo-xsy7XFv7fhMFLg5Kjlcrt-jV3UxPrEo6awn4uXLoNAHkUB_6FfecreXG5ur5wfowelf1atHORREzWj-qkHH1UddA0VmIYQTgHXLl0JvHTIMFyoFwP7yL5abeuxJW2nT5BVql3x_T593G8s9U8icgnFPKxPkJN9a3ZE0itHJI-I6shYWYpXaLjwduF78j6jAwp_soH1cMYam0LbAN2pgjIBWD2xxzFS8_vjYLBLc50_XF2jsa5CG4hDS0lFI-HPwXanohsXIsmRDfc_NvSMwFS8u7p5COt3EEsVHblMtmA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"refer_instrumental\": \"{{ $json.instrumental_id }}\",\n  \"model\": \"music-01\",\n  \"audio_setting\": {\n    \"sample_rate\": 44100,\n    \"bitrate\": 256000,\n    \"format\": \"mp3\"\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1640,
        2040
      ],
      "id": "b7cc1bfb-eb40-4d4a-975c-8e0762cd43e2",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "name": "news_music",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hTyxo1ak5Qps2LZz8GHDL-9lgrVmfUwp",
          "mode": "list",
          "cachedResultName": "New News Music",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hTyxo1ak5Qps2LZz8GHDL-9lgrVmfUwp"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1200,
        2040
      ],
      "id": "f2d5fd53-1125-4f46-a346-feee858d5819",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -980,
        2040
      ],
      "id": "39ed5bda-f3d6-4f44-998e-68a39ae1ad12",
      "name": "Google Drive8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kIqTBPf39dXo1x5X",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Model age": "25",
          "Model ethnicity": "Indian",
          "Model's color": "white and fair",
          "Model's Clothes": "saree",
          "Describe Models environment": "Newsroom",
          "Topic of the video": "attack on saif ali khan",
          "Whatsapp Number": "9899392015",
          "submittedAt": "2025-01-24T14:42:49.208+01:00",
          "formMode": "production"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "Music theme": "informative",
          "stored_files": [
            {
              "fileName": "audio.mp3",
              "fileOriginName": "audio.mp3",
              "filePath": "/home/node/n8n_storage/uploaded_files/audio.mp3"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Query Video Generation": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Query Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Store Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "Store Files2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI News Video Generator Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Video": {
      "main": [
        [
          {
            "node": "Store Files5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI BG Music": {
      "main": [
        [
          {
            "node": "Store Files7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intro Video": {
      "main": [
        [
          {
            "node": "Store Files6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Branding overlay": {
      "main": [
        [
          {
            "node": "Store Files8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outro Video": {
      "main": [
        [
          {
            "node": "Store Files9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explore Stored Files": {
      "main": [
        [
          {
            "node": "Step1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step1": {
      "main": [
        [
          {
            "node": "Step 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2": {
      "main": [
        [
          {
            "node": "Step 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3": {
      "main": [
        [
          {
            "node": "Step 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files5": {
      "main": [
        [
          {
            "node": "AI BG Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files6": {
      "main": [
        [
          {
            "node": "Channel Branding overlay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files7": {
      "main": [
        [
          {
            "node": "Intro Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files8": {
      "main": [
        [
          {
            "node": "Outro Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files9": {
      "main": [
        [
          {
            "node": "Explore Stored Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Store Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Files1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "Google Drive8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive8": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "786c88fa-ccdf-429c-a533-c73eeb59ff58",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab060550126122b6709a2536b748690a3651ea5ec50821118357251a6eb546b2"
  },
  "id": "GjmLHkLZFa4WFvCk",
  "tags": [
    {
      "createdAt": "2025-03-07T11:52:15.253Z",
      "updatedAt": "2025-03-07T11:52:15.253Z",
      "id": "1wksXpn79Bo52UHa",
      "name": "AI News Reporter"
    }
  ]
}